<div id="login-view">
  <mat-card mat id="form-card">
    <div id="title-container">

      <mat-card-subtitle>Welcome to</mat-card-subtitle>
      <mat-card-title id="form-title">{{title}}</mat-card-title>

    </div>

    <div id="body-container">
      <mat-card-content>
        <p>Please sign in or sign up</p>
        <!-- <p>{{ longText }}</p> -->
      </mat-card-content>
      <form id="registration-form" [formGroup]="loginForm" (ngSubmit)="onRegistrationSubmit(loginForm)">

        <mat-form-field class="form-field">
          <input matInput placeholder="Email" formControlName="email" id="email" value="">
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput placeholder="Password" formControlName="password" id="password" type="password">
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button id="submit-register" type="submit" [disabled]="!loginForm.valid" mat-raised-button
            color="primary">Register</button>
        </mat-card-actions>
      </form>

    </div>
  </mat-card>
</div>
