<!-- <h2>Register User</h2>
<h4>{{title}}</h4>
<form id="registration-form" [formGroup]="loginForm" (ngSubmit)="onRegistrationSubmit()">
  <mat-form-field class="form-field">
    <input matInput placeholder="First Name" formControlName="firstName" id="first-name">
  </mat-form-field>
  <mat-form-field class="form-field">
    <input matInput placeholder="Last Name" formControlName="lastName" id="last-name">
  </mat-form-field>
  <mat-form-field class="form-field">
    <input matInput placeholder="Email" formControlName="email" id="email">
  </mat-form-field>
  <mat-form-field class="form-field">
    <input matInput placeholder="Password" formControlName="password" id="password" type="password">
  </mat-form-field>

  <button id="submit-register" type="submit" [disabled]="!loginForm.valid" mat-raised-button
    color="primary">Register</button>
</form> -->
